<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wireframe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'initialize.css') }}" />


</head>

<body>

    <header>
        <section class="section4">
            <div class="logo">
                <p>ZORO</p>
            </div>
        </section>

        <main class="main2">
            <section class="section3">
                <div class="connec">
                    <div class="connexion">
                        <h3>Connectez-vous</h3>
                        <form action="" method="post">
                            <input type="text " name="id" placeholder="Identifiant"><br>
                            <input type="text" name="mot" placeholder="Mot de passe"> <br>
                            <a href="{{url_for('accueil')}}"><input type="button" value="Connexion"></a>
                            <a href="#">Si pas de compte Inscrivez-vous</a>
                        </form>
                    </div>
                </div>
            </section>
        </main>

    </header>

</body>

</html>